@import url("https://fonts.googleapis.com/css?family=Bree+Serif");
@import url("https://fonts.googleapis.com/css?family=Acme");
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/img/banner.jpg");
  height: 400px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerText {
  color: white;
  font-family: mySecondFont;
  background: rgba(0, 0, 0, 0);
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: 40%;
  border-radius: 20px;
}
.headerText h1 {
  font-size: 2.2em;
}
.fa-bars {
  font-size: 25px;
  margin-top: -5px;
}

@media only screen and (max-width: 769px) {
  .headerText {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
  }
  header {
    padding-bottom: 400px;
  }
  .jumbotron h1 {
    font-size: 3em;
  }
  .jumbotron button {
    font-size: 25px;
    padding: 10px;
  }
}
